@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <br />


    <h4>Welcome to Lucky Hats!</h4>
    <p>We are the fastest growing online hat company in the UK and EU offering the largest range of hats in Europe. Our mission is to bring the finest hats from around the world to our customers in the UK and the rest of the world as quickly and affordably as possible. Check out the brand and styles we carry. Thanks for visiting our site, we hope you find the hat you are looking for.</p>
</main>