@{
    ViewBag.Title = "Contact us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <br />
    <br />
    
      <p>  Feel free to email or call us with any questions about our products or services. </p>
      <p> We are in the office Monday to Friday 9am to 6pm GMT and we usually respond to every email within 1 working day.</p><br />
   
    <address>
        
        <p title="Phone"> <strong>Telephone: </strong> 0800 009 6903</p>
        
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:Support@luckyhats.com">Support@luckyhats.com</a><br />
    </address>
</main>